.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 20px;
}

.header .header__title {
  font-size: 27px;
  font-weight: 700;
}

.header .header__icon {
    font-size: 25px;
    margin-left: 20px;
    cursor: pointer;
}

.header .header__header-column {
    display: flex;
    align-items: center;
}

.header .header__back-btn {
    font-size: 22px;
    margin-right: 20px;
}